%btn {
    position: relative;
    display: block;
    padding-bottom: 10px;
    max-width: 170px;

    &::before {
        position: absolute;
        bottom: 0;
        content: "";
        width: 100%;
        height: 1px;
        background-color: color(yellow);
        display: block;
    }

    &::after {
        position: absolute;
        bottom: 11px;
        right: 0px;
        content: "";
        width: 0;
        height: 0;
        border-top: solid 8px transparent;
        border-right: solid 6px transparent;
        border-bottom: solid 8px transparent;
        border-left: solid 6px color(white);
        display: block;
    }

    &:hover {
        &::after {
            position: absolute;
            right: -10px;
            transition: right .3s;

        }
    }

    .btn_text {
        font-family: ($ff-mincho);
        font-size: 1.6rem;

        @include mq("pc") {
            font-size: 2rem;
        }
    }
}

%contact_btn {
    text-align: center;
    border-radius: 2px;
    width: 260px;
    height: 60px;
    font-size: 14px;
    font-weight: bold;
    background-color: color(bg-brown);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;

    &.-white {
        background-color: #fff;
        border: 1px solid color(bg-brown);

        input {
            color: color(bg-brown);

        }

        &:hover {
            border: 1px solid #fff;
            background-color: color(bg-brown);

            input {
                color: #fff;

            }
        }
    }

    input {
        color: #fff;
        width: 100%;
        height: 100%;
    }

    &:hover {
        border: 1px solid color(bg-brown);
        background-color: #fff;

        input {
            color: color(bg-brown);

        }
    }
}

%square_btn {
    text-decoration: none;
    text-align: center;
    z-index: 2;
    position: relative;
    width: 100%;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

    .btn_layer {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: transparent;
        border-radius: 2px;
        z-index: -1;
        border: 1px solid #fff;


        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            width: 100%;
            height: 100%;
            background-color: #fff;
            transition: transform 0.3s ease;
        }



    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: #fff;
        width: 100%;
        height: 100%;
        z-index: 1;
        font-size: 1.6em;
        background: transparent;

    }

    &:hover {
        .btn_layer {
            &::before {
                transform: translateX(0);
            }
        }

        a {
            color: #2F2F38;
        }
    }


}