.Header {
    position: fixed;
    z-index: 1000;
    height: 80px;
    width: 100%;
    font-family: $ff-mincho;

    @include mq("pc") {
        height: 100px;
    }

    &--inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .flex_right {
        display: flex;
        align-items: center;
    }

    .Header--logo {
        .logo_img {
            img {
                width: 50%;
            }
        }
    }

    .phoneNum {
        position: relative;
        display: inline-block;
        padding-left: 50px;

        @include mq("pc") {
            margin-right: 40px;
        }

        &:hover {
            opacity: 0.8;
            transition: 0.3s;
        }

        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            content: "";
            background-image: url(../image/common/icon_phone.svg);
            width: 35px;
            height: 36px;
            display: inline-block;

            @include mq("pc") {
                width: 36px;
                height: 36px;
            }
        }

        &_text {
            font-size: 1.3rem;
            font-weight: bold;
            margin-bottom: 10px;

            @include mq("pc") {
                font-size: 1.6rem;
            }
        }

        &_num {
            font-size: 2rem;
            font-weight: bold;

            @include mq("pc") {
                font-size: 2.5rem;
            }
        }
    }

    &--hams {
        background-color: color(red);
        width: 100px;
        height: 100px;
        padding-left: 20.5px;
        z-index: 200;

        &::before {
            content: "";
            display: block;
            transition: all 0.4s;
            top: 32.5px;
            position: absolute;
            width: 55px;
            height: 1px;
            background-color: color(white);
        }

        &.clicked {
            background-color: color(bg-brown);
            position: fixed;
            top: 0px;
            right: 0;

            &::before {
                transform: translateY(15px) rotate(45deg);
                width: 50px;
            }

            .Header_ham {
                &::after {
                    display: none;
                }

                &::before {
                    width: 50px;
                    transform: translateY(-16px) rotate(-45deg);
                }
            }
        }

        .Header_ham {
            &::after {
                transition: all 0.4s;
                content: "";
                top: 47.5px;
                position: absolute;
                width: 50px;
                height: 1px;
                background-color: color(white);
            }

            &::before {
                transition: all 0.4s;
                content: "";
                position: absolute;
                top: 63.5px;
                width: 45px;
                height: 1px;
                background-color: color(white);
            }
        }
    }

    .grobalNav {
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        background-color: color(red);
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform: translateY(-100%);

        &_list {
            font-size: 2.5rem;
            padding: 95px 0 135px 50px;

            &--item {
                margin-top: 40px;


            }
        }

        &.clicked {
            transform: translateY(0);
        }
    }
}